.section5 {
    position: relative;
    width: 375px;
    height: 394px;
    left: 0px;
    margin-bottom: 370px;

    background: linear-gradient(176.88deg, #f3b8bc 2.58%, #ffdad4 93.07%);
}

#trackPeriodButton {
    position: absolute;
    width: 315px;
    height: 66px;
    left: 30px;
    top: 280px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        297.28deg,
        #f66e6e 67.01%,
        rgba(246, 110, 110, 0) 123.71%
    );
    filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
    border-radius: 70px;
}

.calendarImg {
    position: absolute;
    top: 390px;
    width: 375px;
    height: 375px;
}
